.Zero{
    color: red;
}
.First{
    color: brown;
    padding: 2px;
}
.Second{
    background-color: yellow;
    text-decoration: solid;
}
.Third{
    color: brown;
    padding: 2px;
    letter-spacing: 5px;
}
.button{
    background-color: yellow;
    text-decoration: solid;
    color: brown;
}
a{
    text-decoration: none;
}
.Forth{
    text-decoration: line-through;
}
.Fifth{
    font-style: italic;
    text-decoration: underline;
}